body {
    padding-top: 5rem;
    background-image: url(../images/stardust.png);
    /* background-color: azure; */
    color:#f7f7f7;
    /* color: black; */
    font-family: 'KoHo', sans-serif;
}
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  main{
    font-family: 'KoHo', sans-serif;
    
  }